<!DOCTYPE html>

<html ng-app="afterjackApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- 3rd Party Libraries -->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Custom Scripts -->
    <script src="~/app/app.js"></script>
    <script src="~/app/dataFactory.js"></script>
    <script src="~/app/controllers/afterjackController.js"></script>
    <script src="~/app/controllers/afterjackControllerL3.js"></script>


    <title>After Jack Entry</title>
</head>

<body>
    <br />
    <div style="padding-left:1em">
        <div ng-view></div>
    </div>
</body>

</html>